.cards {
    display: grid;
    list-style: none;
    max-width: 920px;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    column-gap: 100px;
    grid-template-columns: repeat(3, 250px);
}

@media (max-width: 1120px) {
    .cards {
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 696px) {
    .cards {
        grid-template-columns: 250px;
    }
}