.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width:1280px) {
  .footer__column_content_copyright {
      flex-basis: calc(711px - (1280px - 100vw) / (1280 - 320) * (711 - 24));
  }
}

@media (max-width:560px) {
  .footer__column_content_copyright {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}