.khan__quote {
    max-width: 790px;
    width: 100%;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

@media (max-width:1280px) {
    .khan__quote {
        font-size: calc(24px - (1280px - 100vw) / (1280 - 320) * (24 - 18));
        line-height: calc(34px - (1280px - 100vw) / (1280 - 320) * (34 - 22));
    }
}