.section-title {
  line-height: 115%;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  margin: 0 0 20px 0;
}

@media (max-width:1280px) {
  .section-title{
    font-size: calc(60px - (1280px - 100vw) / (1280 - 320) * (60 - 48));
    width: calc(60% + (1280px - 100vw) / 8);
  }
}