.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0;
}

@media (max-width:1280px) {
  .section-subtitle{
    width: calc(60% + (1280px - 100vw) / 8);
  }
}