.feynman__subtitle {
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

@media (max-width:1280px) {
  .feynman__subtitle {
    writing-mode: tb;
    font-size: calc(36px - (1280px - 100vw) / (1280 - 320) * (36 - 18));
    line-height: calc(51px - (1280px - 100vw) / (1280 - 320) * (51 - 20));
    align-self: flex-start;
    margin: 0;
  }
}