.header__title {
  max-width: 730px;
  width: 100%;
  margin: 0 0 0 64px;
  z-index: 2;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

@media (max-width:1280px) {
  .header__title {
    font-size: calc(102px - (1280px - 100vw) / (1280 - 320) * 60);
    line-height: calc(96px - (1280px - 100vw) / (1280 - 320) * 60);
    max-width: calc(730px - (1280px - 100vw) / (1280 - 320) * 480);
  }
}

@media (max-width:480px) {
  .header__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}